.archive-campaign {
    margin-bottom: 40px;

    @include netbook{
        width: 100%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 30px;
        padding: 30px;

        @include netbook{
            padding: 20px;
            grid-template-columns: 1fr 1fr;
        }

        @include tablet{
            grid-template-columns: 1fr;
        }
    }

    .campaign-card {
        border-radius: 8px;
        border: 1px solid rgba(70, 74, 88, 0.22);
        overflow: hidden;
        transition: .3s all ease;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 0 10px rgba(0,0,0,0.9);
        }

        &__image {
            display: block;
            height: 50%;
            max-height: 230px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px 10px;
            height: 50%;
        }
        &__title {
            text-align: center;
            margin: 10px 0;
        }
        &__excerpt {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
            text-align: justify;
            line-height: 16px;
            min-height: 60px;
        }
        &__deadline {
            text-align: center;
            margin-top: 15px;
        }
        &__read-more {
            text-align: center;
            text-decoration: underline;
            margin-top: 15px;
        }
    }

    button#loadmore {
        display: block;
        text-align: center;
        margin: 10px auto 0 auto;
    }
}